*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gabarito', cursive;
    background-color: #344e41;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cash {
    height: 12rem;
    width: 20rem;
}