*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gabarito', cursive;
    background-color: #344e41;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 28rem;
    gap: 0.1rem;
    padding: 1rem;
    background-color: #588157;
    border: none;
    border-radius: 1rem;
}

.cash input {
    width: 18rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
}

.cash button {
    padding: 0.5rem;
    background-color: #A3B18A;
    border: none;
    color: white;
    border-radius: 1rem;
}